In [7]:
import pandas as pd
import numpy as np
import copy
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

# Məlumat yaratmaq
np.random.seed(0)

data = {
    'numeric1': np.random.randn(30),
    'numeric2': np.random.rand(30) * 100,
    'numeric3': np.random.randint(1, 100, size=30),
    'category1': np.random.choice(['A', 'B', 'C'], size=30),
    'category2': np.random.choice(['X', 'Y', 'Z'], size=30),
    'category3': np.random.choice(['K', 'L', 'M'], size=30)
}

data = pd.DataFrame(data)

# İtkin dəyərlər yaratmaq
for col in data.columns:
    data.loc[np.random.choice(data.index, size=5, replace=False), col] = np.nan

df = copy.deepcopy(data)
df

    numeric1   numeric2  numeric3 category1 category2 category3
0        NaN  94.374808       NaN         B         Z         K
1   0.400157  68.182030      37.0       NaN       NaN         K
2   0.978738  35.950790      35.0       NaN       NaN         L
3   2.240893  43.703195      49.0         A         X         M
4        NaN  69.763120       NaN         C         X         L
5  -0.977278   6.022547       4.0         C         Y         L
6        NaN        NaN      99.0       NaN         Z         K
7  -0.151357        NaN      43.0         C         X       NaN
8  -0.103219  21.038256      78.0         A         X         L
9   0.410599  12.892630       NaN         A         Y         M
10  0.144044  31.542835      74.0         C         X         K
11  1.454274  36.371077       1.0         A         Z         M
12  0.761038  57.019677      11.0       NaN         Y         M
13  0.121675  43.860151      44.0         C         Y         L
14  0.443863  98.837384      59.0         C         Y         L
15  0.333674  10.204481      24.0         A       NaN       NaN
16  1.494079  20.887676       NaN         A       NaN         M
17 -0.205158        NaN       3.0         A         X         K
18  0.313068        NaN      99.0         B         Y         K
19 -0.854096        NaN      63.0         C         Y         L
20 -2.552990  46.631077      36.0         A         Z         K
21       NaN  24.442559      95.0         B       NaN         M
22  0.864436  15.896958      68.0         C         X       NaN
23       NaN  11.037514      83.0         C         X         K
24  2.269755  65.632959      47.0       NaN         Y         M
25 -1.454366  13.818295      21.0         B         Z       NaN
26  0.045759  19.658236      82.0         A         Y         M
27 -0.187184  36.872517       NaN         A         Y         L
28  1.532779  82.099323      28.0         A         Y         L
29  1.469359   9.710128      15.0         A         X       NaN

In [8]:
# Kateqorik sütunları `LabelEncoder` ilə çevirmək
label_encoders = {}
encoded_values = {}

for col in ['category1', 'category2', 'category3']:
    le = LabelEncoder()
    
# #     Boş dəyərləri 'missing' ilə doldururuq
#     df[col] = df[col].fillna('missing')
    
    # Dəyərləri çevirmək
    df[col] = le.fit_transform(df[col])
    
    # 'missing' dəyərlərini qeyd edirik ki, sonra geri qaytaraq
    label_encoders[col] = le
    # Orijinal dəyərləri və çevrilmiş dəyərləri saxlamaq
    encoded_values[col] = pd.DataFrame({
        'Original': le.classes_,
        'Encoded': np.arange(len(le.classes_))
    })

# Hər sütun üçün orijinal və çevrilmiş dəyərləri göstərmək
for col in encoded_values:
    print(f"\n{col} üçün orijinal və çevrilmiş dəyərlər:\n", encoded_values[col])

category1 üçün orijinal və çevrilmiş dəyərlər:
   Original  Encoded
0        A        0
1        B        1
2        C        2
3      NaN        3

category2 üçün orijinal və çevrilmiş dəyərlər:
   Original  Encoded
0        X        0
1        Y        1
2        Z        2
3      NaN        3

category3 üçün orijinal və çevrilmiş dəyərlər:
   Original  Encoded
0        K        0
1        L        1
2        M        2
3      NaN        3

In [9]:
encoded_values['category1'].dropna()["Encoded"].values

array([0, 1, 2])

In [10]:
for col in ['category1', 'category2', 'category3']:
    df[col] = df[col].apply(lambda x: x if x in encoded_values[col].dropna()["Encoded"].values else np.nan)

In [11]:
df

    numeric1   numeric2  numeric3  category1  category2  category3
0        NaN  94.374808       NaN        1.0        2.0        0.0
1   0.400157  68.182030      37.0        NaN        NaN        0.0
2   0.978738  35.950790      35.0        NaN        NaN        1.0
3   2.240893  43.703195      49.0        0.0        0.0        2.0
4        NaN  69.763120       NaN        2.0        0.0        1.0
5  -0.977278   6.022547       4.0        2.0        1.0        1.0
6        NaN        NaN      99.0        NaN        2.0        0.0
7  -0.151357        NaN      43.0        2.0        0.0        NaN
8  -0.103219  21.038256      78.0        0.0        0.0        1.0
9   0.410599  12.892630       NaN        0.0        1.0        2.0
10  0.144044  31.542835      74.0        2.0        0.0        0.0
11  1.454274  36.371077       1.0        0.0        2.0        2.0
12  0.761038  57.019677      11.0        NaN        1.0        2.0
13  0.121675  43.860151      44.0        2.0        1.0        1.0
14  0.443863  98.837384      59.0        2.0        1.0        1.0
15  0.333674  10.204481      24.0        0.0        NaN        NaN
16  1.494079  20.887676       NaN        0.0        NaN        2.0
17 -0.205158        NaN       3.0        0.0        0.0        0.0
18  0.313068        NaN      99.0        1.0        1.0        0.0
19 -0.854096        NaN      63.0        2.0        1.0        1.0
20 -2.552990  46.631077      36.0        0.0        2.0        0.0
21       NaN  24.442559      95.0        1.0        NaN        2.0
22  0.864436  15.896958      68.0        2.0        0.0        NaN
23       NaN  11.037514      83.0        2.0        0.0        0.0
24  2.269755  65.632959      47.0        NaN        1.0        2.0
25 -1.454366  13.818295      21.0        1.0        2.0        NaN
26  0.045759  19.658236      82.0        0.0        1.0        2.0
27 -0.187184  36.872517       NaN        0.0        1.0        1.0
28  1.532779  82.099323      28.0        0.0        1.0        1.0
29  1.469359   9.710128      15.0        0.0        0.0        NaN

In [14]:
# KNNImputer ilə boş dəyərləri doldurmaq
imputer = KNNImputer(n_neighbors=5)
filled_array = imputer.fit_transform(df)

# Doldurulmuş məlumatları DataFrame-ə çevirmək
filled_df = pd.DataFrame(filled_array, columns=df.columns)

# Kateqorik sütunları geri çevirmək
for col, le in label_encoders.items():
    filled_df[col] = filled_df[col].round(0).astype(int)  # Dəyərləri integer-ə çeviririk
    filled_df[col] = le.inverse_transform(filled_df[col])

print("\nOrijinal Data:\n", data)
print("\nKNN ilə doldurulmuş məlumatlar:\n", filled_df)

Orijinal Data:
     numeric1   numeric2  numeric3 category1 category2 category3
0        NaN  94.374808       NaN         B         Z         K
1   0.400157  68.182030      37.0       NaN       NaN         K
2   0.978738  35.950790      35.0       NaN       NaN         L
3   2.240893  43.703195      49.0         A         X         M
4        NaN  69.763120       NaN         C         X         L
5  -0.977278   6.022547       4.0         C         Y         L
6        NaN        NaN      99.0       NaN         Z         K
7  -0.151357        NaN      43.0         C         X       NaN
8  -0.103219  21.038256      78.0         A         X         L
9   0.410599  12.892630       NaN         A         Y         M
10  0.144044  31.542835      74.0         C         X         K
11  1.454274  36.371077       1.0         A         Z         M
12  0.761038  57.019677      11.0       NaN         Y         M
13  0.121675  43.860151      44.0         C         Y         L
14  0.443863  98.837384      59.0         C         Y         L
15  0.333674  10.204481      24.0         A       NaN       NaN
16  1.494079  20.887676       NaN         A       NaN         M
17 -0.205158        NaN       3.0         A         X         K
18  0.313068        NaN      99.0         B         Y         K
19 -0.854096        NaN      63.0         C         Y         L
20 -2.552990  46.631077      36.0         A         Z         K
21       NaN  24.442559      95.0         B       NaN         M
22  0.864436  15.896958      68.0         C         X       NaN
23       NaN  11.037514      83.0         C         X         K
24  2.269755  65.632959      47.0       NaN         Y         M
25 -1.454366  13.818295      21.0         B         Z       NaN
26  0.045759  19.658236      82.0         A         Y         M
27 -0.187184  36.872517       NaN         A         Y         L
28  1.532779  82.099323      28.0         A         Y         L
29  1.469359   9.710128      15.0         A         X       NaN

KNN ilə doldurulmuş məlumatlar:
     numeric1   numeric2  numeric3 category1 category2 category3
0  -0.090736  94.374808      61.4         B         Z         K
1   0.400157  68.182030      37.0         B         Y         K
2   0.978738  35.950790      35.0         B         Y         L
3   2.240893  43.703195      49.0         A         X         M
4  -0.099477  69.763120      49.0         C         X         L
5  -0.977278   6.022547       4.0         C         Y         L
6   0.415264  46.958150      99.0         B         Z         K
7  -0.151357  51.552645      43.0         C         X         L
8  -0.103219  21.038256      78.0         A         X         L
9   0.410599  12.892630      45.8         A         Y         M
10  0.144044  31.542835      74.0         C         X         K
11  1.454274  36.371077       1.0         A         Z         M
12  0.761038  57.019677      11.0         A         Y         M
13  0.121675  43.860151      44.0         C         Y         L
14  0.443863  98.837384      59.0         C         Y         L
15  0.333674  10.204481      24.0         A         Y         L
16  1.494079  20.887676      61.0         A         X         M
17 -0.205158  43.985124       3.0         A         X         K
18  0.313068  46.958150      99.0         B         Y         K
19 -0.854096  46.958150      63.0         C         Y         L
20 -2.552990  46.631077      36.0         A         Z         K
21  0.415264  24.442559      95.0         B         Y         M
22  0.864436  15.896958      68.0         C         X         M
23  0.542331  11.037514      83.0         C         X         K
24  2.269755  65.632959      47.0         C         Y         M
25 -1.454366  13.818295      21.0         B         Z         L
26  0.045759  19.658236      82.0         A         Y         M
27 -0.187184  36.872517      47.4         A         Y         L
28  1.532779  82.099323      28.0         A         Y         L
29  1.469359   9.710128      15.0         A         X         L