#### 1.Print First 10 natural numbers using while loop.

In [4]:
i = 1
while i < 11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

#### 2.Display -10 to -1 using for loop.

In [22]:
for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#### 3.Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [33]:
for i in range(7):
    if i == 3 or i == 6:
        continue
    print(i)

0
1
2
4
5

#### 5.Reverse the following list using for loop:
        list1 = [10, 20, 30, 40, 50]

In [43]:
list1 = [10, 20, 30, 40, 50]
list2 = []

In [44]:
for i in range(len(list1)-1, -1, -1):
    list2.append(list1[i])
print(list2)

[50, 40, 30, 20, 10]

#### 6.Write a Python program to find those numbers which are divisible by 7 and 5, between 1500 and 2700 (both included).

In [46]:
list_ = []
for i in range(1500, 2700+1):
    if not i % 5 or not i % 7:
        list_.append(i)
print(list_)

[1500, 1505, 1510, 1512, 1515, 1519, 1520, 1525, 1526, 1530, 1533, 1535, 1540, 1545, 1547, 1550, 1554, 1555, 1560, 1561, 1565, 1568, 1570, 1575, 1580, 1582, 1585, 1589, 1590, 1595, 1596, 1600, 1603, 1605, 1610, 1615, 1617, 1620, 1624, 1625, 1630, 1631, 1635, 1638, 1640, 1645, 1650, 1652, 1655, 1659, 1660, 1665, 1666, 1670, 1673, 1675, 1680, 1685, 1687, 1690, 1694, 1695, 1700, 1701, 1705, 1708, 1710, 1715, 1720, 1722, 1725, 1729, 1730, 1735, 1736, 1740, 1743, 1745, 1750, 1755, 1757, 1760, 1764, 1765, 1770, 1771, 1775, 1778, 1780, 1785, 1790, 1792, 1795, 1799, 1800, 1805, 1806, 1810, 1813, 1815, 1820, 1825, 1827, 1830, 1834, 1835, 1840, 1841, 1845, 1848, 1850, 1855, 1860, 1862, 1865, 1869, 1870, 1875, 1876, 1880, 1883, 1885, 1890, 1895, 1897, 1900, 1904, 1905, 1910, 1911, 1915, 1918, 1920, 1925, 1930, 1932, 1935, 1939, 1940, 1945, 1946, 1950, 1953, 1955, 1960, 1965, 1967, 1970, 1974, 1975, 1980, 1981, 1985, 1988, 1990, 1995, 2000, 2002, 2005, 2009, 2010, 2015, 2016, 2020, 2023, 2025, 2030, 2035, 2037, 2040, 2044, 2045, 2050, 2051, 2055, 2058, 2060, 2065, 2070, 2072, 2075, 2079, 2080, 2085, 2086, 2090, 2093, 2095, 2100, 2105, 2107, 2110, 2114, 2115, 2120, 2121, 2125, 2128, 2130, 2135, 2140, 2142, 2145, 2149, 2150, 2155, 2156, 2160, 2163, 2165, 2170, 2175, 2177, 2180, 2184, 2185, 2190, 2191, 2195, 2198, 2200, 2205, 2210, 2212, 2215, 2219, 2220, 2225, 2226, 2230, 2233, 2235, 2240, 2245, 2247, 2250, 2254, 2255, 2260, 2261, 2265, 2268, 2270, 2275, 2280, 2282, 2285, 2289, 2290, 2295, 2296, 2300, 2303, 2305, 2310, 2315, 2317, 2320, 2324, 2325, 2330, 2331, 2335, 2338, 2340, 2345, 2350, 2352, 2355, 2359, 2360, 2365, 2366, 2370, 2373, 2375, 2380, 2385, 2387, 2390, 2394, 2395, 2400, 2401, 2405, 2408, 2410, 2415, 2420, 2422, 2425, 2429, 2430, 2435, 2436, 2440, 2443, 2445, 2450, 2455, 2457, 2460, 2464, 2465, 2470, 2471, 2475, 2478, 2480, 2485, 2490, 2492, 2495, 2499, 2500, 2505, 2506, 2510, 2513, 2515, 2520, 2525, 2527, 2530, 2534, 2535, 2540, 2541, 2545, 2548, 2550, 2555, 2560, 2562, 2565, 2569, 2570, 2575, 2576, 2580, 2583, 2585, 2590, 2595, 2597, 2600, 2604, 2605, 2610, 2611, 2615, 2618, 2620, 2625, 2630, 2632, 2635, 2639, 2640, 2645, 2646, 2650, 2653, 2655, 2660, 2665, 2667, 2670, 2674, 2675, 2680, 2681, 2685, 2688, 2690, 2695, 2700]

#### 7.Display a message “Done” after successful execution of for loop.

In [47]:
list_ = []
for i in range(1500, 2700+1):
    if not i % 5 or not i % 7:
        list_.append(i)
print(list_)
print('Done')

[1500, 1505, 1510, 1512, 1515, 1519, 1520, 1525, 1526, 1530, 1533, 1535, 1540, 1545, 1547, 1550, 1554, 1555, 1560, 1561, 1565, 1568, 1570, 1575, 1580, 1582, 1585, 1589, 1590, 1595, 1596, 1600, 1603, 1605, 1610, 1615, 1617, 1620, 1624, 1625, 1630, 1631, 1635, 1638, 1640, 1645, 1650, 1652, 1655, 1659, 1660, 1665, 1666, 1670, 1673, 1675, 1680, 1685, 1687, 1690, 1694, 1695, 1700, 1701, 1705, 1708, 1710, 1715, 1720, 1722, 1725, 1729, 1730, 1735, 1736, 1740, 1743, 1745, 1750, 1755, 1757, 1760, 1764, 1765, 1770, 1771, 1775, 1778, 1780, 1785, 1790, 1792, 1795, 1799, 1800, 1805, 1806, 1810, 1813, 1815, 1820, 1825, 1827, 1830, 1834, 1835, 1840, 1841, 1845, 1848, 1850, 1855, 1860, 1862, 1865, 1869, 1870, 1875, 1876, 1880, 1883, 1885, 1890, 1895, 1897, 1900, 1904, 1905, 1910, 1911, 1915, 1918, 1920, 1925, 1930, 1932, 1935, 1939, 1940, 1945, 1946, 1950, 1953, 1955, 1960, 1965, 1967, 1970, 1974, 1975, 1980, 1981, 1985, 1988, 1990, 1995, 2000, 2002, 2005, 2009, 2010, 2015, 2016, 2020, 2023, 2025, 2030, 2035, 2037, 2040, 2044, 2045, 2050, 2051, 2055, 2058, 2060, 2065, 2070, 2072, 2075, 2079, 2080, 2085, 2086, 2090, 2093, 2095, 2100, 2105, 2107, 2110, 2114, 2115, 2120, 2121, 2125, 2128, 2130, 2135, 2140, 2142, 2145, 2149, 2150, 2155, 2156, 2160, 2163, 2165, 2170, 2175, 2177, 2180, 2184, 2185, 2190, 2191, 2195, 2198, 2200, 2205, 2210, 2212, 2215, 2219, 2220, 2225, 2226, 2230, 2233, 2235, 2240, 2245, 2247, 2250, 2254, 2255, 2260, 2261, 2265, 2268, 2270, 2275, 2280, 2282, 2285, 2289, 2290, 2295, 2296, 2300, 2303, 2305, 2310, 2315, 2317, 2320, 2324, 2325, 2330, 2331, 2335, 2338, 2340, 2345, 2350, 2352, 2355, 2359, 2360, 2365, 2366, 2370, 2373, 2375, 2380, 2385, 2387, 2390, 2394, 2395, 2400, 2401, 2405, 2408, 2410, 2415, 2420, 2422, 2425, 2429, 2430, 2435, 2436, 2440, 2443, 2445, 2450, 2455, 2457, 2460, 2464, 2465, 2470, 2471, 2475, 2478, 2480, 2485, 2490, 2492, 2495, 2499, 2500, 2505, 2506, 2510, 2513, 2515, 2520, 2525, 2527, 2530, 2534, 2535, 2540, 2541, 2545, 2548, 2550, 2555, 2560, 2562, 2565, 2569, 2570, 2575, 2576, 2580, 2583, 2585, 2590, 2595, 2597, 2600, 2604, 2605, 2610, 2611, 2615, 2618, 2620, 2625, 2630, 2632, 2635, 2639, 2640, 2645, 2646, 2650, 2653, 2655, 2660, 2665, 2667, 2670, 2674, 2675, 2680, 2681, 2685, 2688, 2690, 2695, 2700]
Done

#### 8.Write a Python program to create a lambda function that adds 15 to a given number passed in
#### as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

In [52]:
a = lambda x: x+15
a(10)

25

In [53]:
a = lambda x, y: x+y
a(17, 18)

35

#### 9.Write a Python program to square and cube every number in a given list of integers using Lambda.

In [60]:
list1 = [10, 20, 30, 40, 50]

In [61]:
list(map(lambda x: (x**2, x**3), list1))

[(100, 1000), (400, 8000), (900, 27000), (1600, 64000), (2500, 125000)]

#### 10.Write a lambda function that returns takes x as parameter and returns x+2. Then assign itto a variable named L.

In [63]:
l = lambda x: x+2
l(15)

17

#### 11.Write a function which takes two arguments: a and b and returns the multiplication ofthem: a*b. 
#### Assign it to a variable named f.

In [64]:
def func(a, b):
    return a*b

In [65]:
func(15, 30)

450

In [66]:
a = lambda a, b: a*b
a(15, 30)

450

#### 12.Write a Python program to add two given lists using map and lambda.

In [71]:
list1 = [1, 2, 3, 4]
list2 = [10, 20 , 30 , 40]

In [72]:
list(map(lambda x, y: x+y, list1, list2))

[11, 22, 33, 44]

#### 13.Write a map function that adds plus 5 to each item in the list.

In [73]:
list1 = [10, 20 , 30 , 40]

In [74]:
list(map(lambda x: x+5, list1))

[15, 25, 35, 45]

#### 14.Write a map function that adds "Hello, " in front of each item in the list.

In [78]:
list1 = [10, 20 , 30 , 40]

In [80]:
list(map(lambda x: 'salam' + ' ' + str(x), list1))

['salam 10', 'salam 20', 'salam 30', 'salam 40']

In [82]:
list(map(lambda x: f'salam {str(x)}', list1))

['salam 10', 'salam 20', 'salam 30', 'salam 40']

#### 15. Using map() function and len() function create a list that's consisted of lengths of each element in the first list.

In [86]:
list1 = ['Idrak', 'Seyfullayev', 'works' 'intern', 'in', 'Data Science Academy']

In [88]:
print(list(map(lambda x: (x, len(x)), list1)))

[('Idrak', 5), ('Seyfullayev', 11), ('worksintern', 11), ('in', 2), ('Data Science Academy', 20)]

#### 16. Using map() function and lambda add each elements of two lists together. Use a lambda with two arguments.

In [89]:
list_id = [1, 2, 3, 4]
list_name= ['Idrak', 'Adil', "Arif", 'Hakim']

In [93]:
print(list(map(lambda x, y: (f'id: {x}', f'name: {y}'), list_id, list_name)))

[('id: 1', 'name: Idrak'), ('id: 2', 'name: Adil'), ('id: 3', 'name: Arif'), ('id: 4', 'name: Hakim')]

#### 17. Using map() , lambda and count() functions create a list consisted of the number of occurrence of letter: a.

In [94]:
list_name= ['Idrak', 'Adil', "Arif", 'Hakim']

In [97]:
list(map(lambda x: x.count('a'), list_name))

[1, 0, 0, 1]

#### 18. Using map(), lambda and count() functions create a list consisted of the number of occurrence of both letters:
#### A and a.

In [104]:
list_name= ['Idrak', 'Adil', "Arif", 'Hakim', 'Ashraf', 'Araz']

In [105]:
list(map(lambda x: x.count('a') + x.count('A'), list_name))

[1, 1, 1, 1, 2, 2]

#### 19. Using filter() function filter the list so that only negative numbers are left.

In [106]:
list1 = [1, -1, 2, -2, 3, -3, 4, -4]

In [109]:
list(filter(lambda x: x<0, list1))

[-1, -2, -3, -4]

#### 20. Using filter function, filter the even numbers so that only odd numbers are passed to the new list.

In [111]:
list1 = [1, 2, 3, 4, 5, 6, 7, 9, 10]

In [112]:
list(filter(lambda x: x % 2, list1))

[1, 3, 5, 7, 9]

#### 21. Using filter() and list() functions and .lower() method filter all the vowels in a givenstring.

In [113]:
a = 'Azərbaycan'

In [115]:
list(filter(lambda x: x.lower() in ['a', 'ı', 'o', 'u', 'e', 'ə', 'i', 'ö', 'ü'], a))

['A', 'e', 'a', 'a']

#### "22.This time using filter() and list() functions filter all the positive integers in the string."

In [116]:
string_of_integers = "1 -2 3 -4  5 -6 7"
    
result = list(filter(lambda x: x.isnumeric(), string_of_integers))
result

['1', '2', '3', '4', '5', '6', '7']

In [117]:
list(map(lambda x: int(x), result))

[1, 2, 3, 4, 5, 6, 7]

#### "23. Using map() and filter() functions add 2000 to the values below 8000."

In [118]:
values = [5000, 6000, 7000, 8000, 9000]

In [119]:
list(map(lambda x: x+2000 if x < 8000 else x, values))

[7000, 8000, 9000, 8000, 9000]

#### "24.Write a Python program to count the even, odd numbers in a given array of integers using Lambda."

In [128]:
list1 = [1, 2, 3, 4, 5, 7, 8, 9, 10]

In [139]:
f'even numbers count: {len(list(filter(lambda x: not x % 2, list1)))}'

'even numbers count: 4'

In [140]:
f'odd numbers count: {len(list(filter(lambda x: x % 2, list1)))}'

'odd numbers count: 5'

In [141]:
def count():
    even_num_count = len(list(filter(lambda x: not x % 2, list1)))
    odd_num_count = len(list(filter(lambda x: x % 2, list1)))
    return (f'even num count: {even_num_count}, odd num count: {odd_num_count}')

In [142]:
count()

'even num count: 4, odd num count: 5'

#### "25.Write a Python program to filter a given list whether the values in the list are having length of 6 using Lambda."

In [143]:
given_list = ['apple', 'banana', 'orange', 'grapes', 'kiwi', 'melon', 'peach']

In [144]:
result = list(filter(lambda x: len(x)==6, given_list))
result

['banana', 'orange', 'grapes']

#### "27. Using zip() function and list() function, create a merged list of tuples from the two lists given."

In [145]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

In [146]:
result = list(zip(list1,list2))
result

[('a', 1), ('b', 2), ('c', 3)]

#### 28. First create a range from 1 to 8. Then using zip, merge the given list and the range together 
#### to create a new list of tuples.

In [148]:
range_ = range(1, 8)
list1 = ['A', "b", "c", "d", 'E', "F"]

In [149]:
result = list(zip(range_, list1))
result

[(1, 'A'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'E'), (6, 'F')]

#### 29. Using zip and dict functions create a dictionary which has its key-value pairs comingfrom lst1 and lst2.

In [157]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

In [161]:
result = list(zip(list1, list2))
result

[('a', 1), ('b', 2), ('c', 3)]

In [162]:
result = dict(result)
result

{'a': 1, 'b': 2, 'c': 3}

In [163]:
dict(zip(list1, list2))

{'a': 1, 'b': 2, 'c': 3}

#### 30. Using zip, list and sorted functions create a sorted list of tuples from lst1 and lst2.

In [164]:
list1 = [3, 1, 2]
list2 = ['c', 'a', 'b']

In [165]:
result = list(zip(list1, list2))
result = sorted(result)
result

[(1, 'a'), (2, 'b'), (3, 'c')]