####  1. Create variable age equal to 32 and check its type.

In [1]:
age = 32
age

32

In [6]:
type(age)

int

#### 2. Create variable height equal to 1.85 and check its type.

In [7]:
height = 1.85
height

1.85

In [8]:
type(height)

float

#### 3. Create variables name and surname. Define them as 'your_name' and 'your_surname'.

In [11]:
name = 'Idrak'
name

'Idrak'

In [12]:
surname = 'Seyfullayev'
surname

'Seyfullayev'

In [13]:
f'Name: {name}, Surname: {surname}'

'Name: Idrak, Surname: Seyfullayev'

#### 4. Sum up name and surname variables. Define as ID.

In [14]:
name = 'Idrak'
name

'Idrak'

In [16]:
surname = 'Seyfullayev'
surname

'Seyfullayev'

In [20]:
id = f"{name} {surname}"
id

'Idrak Seyfullayev'

In [22]:
id = name + ' ' + surname
id

'Idrak Seyfullayev'

#### 5. Use indexing. Find last letter of 'your_name'.

In [23]:
name = 'Idrak'
name

'Idrak'

In [24]:
name[-1]

'k'

#### 6. Use slicing. Find 2nd and 3rd letters of 'your_surname'.

In [25]:
surname = 'Seyfullayev'
surname

'Seyfullayev'

In [26]:
surname[1]

'e'

In [27]:
surname[2]

'y'

#### 7. Create list as new_list. Include 3 4 5 6 7 integers.

In [28]:
new_list = [3, 4, 5, 6, 7]
new_list

[3, 4, 5, 6, 7]

#### 8. Remove 5 from new_list.

In [29]:
new_list.remove(5)

In [30]:
new_list

[3, 4, 6, 7]

#### 9. Delete 2nd value of new_list.

In [31]:
new_list.pop(1)

4

In [32]:
new_list

[3, 6, 7]

#### 10. Create tuple as new_tuple. Include 3 4 5 6 7 integers.

In [33]:
new_tuple = (3, 4, 5, 6, 7)
new_tuple

(3, 4, 5, 6, 7)

#### 11. Change 4 in new_tuple to 8.

In [45]:
new_tuple = list(new_tuple)
new_tuple

[3, 4, 5, 6, 7]

In [49]:
new_tuple[new_tuple.index(4)] = 8

In [50]:
new_tuple

[3, 8, 5, 6, 7]

In [51]:
new_tuple = tuple(new_tuple)
new_tuple

(3, 8, 5, 6, 7)

### Optional questions:

#### 1. Find the difference between age and 25, if the number is greater than 17 return the square of the difference.

In [10]:
def func(age):
    dif = age-25
    if dif > 17:
        return dif**2

In [11]:
func(32)

In [12]:
func(43)

324

#### 2. Write a Python function to check number is positive, negative or zero.

In [23]:
def check_num(x):
    if x > 0:
        return f'{x} is positive number'
    elif x < 0:
        return f'{x} is negative number'
    else:
        return f'you enter zero'

In [24]:
check_num(10)

'10 is positive number'

In [25]:
check_num(-1)

'-1 is negative number'

In [26]:
check_num(0)

'you enter zero'