In [2]:
import re

#### 1. Create a regex that can select names and ages from the given list and create a new dictionary with name as a key and age as a value: 
Nameage = "\Janice is 22 and Theon is 33 \ Gabriel is 44 and Joey is 21\"

In [29]:
Nameage = "Janice is 22 and Theon is 33 Gabriel is 44 and Joey is 21"
list_name = re.findall(r'\b[A-Z][a-z]+', Nameage)
print(list_name)

['Janice', 'Theon', 'Gabriel', 'Joey']

In [30]:
list_age = re.findall(r'\d{1,3}', Nameage)
list_age

['22', '33', '44', '21']

In [31]:
dict(zip(list_name, list_age))

{'Janice': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '21'}

#### the second way

In [4]:
Nameage = "Janice is 22 and Theon is 33 Gabriel is 44 and Joey is 21"
result = (re.findall(r'([A-z]+)\sis\s(\d{1,3})', Nameage))
result

[('Janice', '22'), ('Theon', '33'), ('Gabriel', '44'), ('Joey', '21')]

In [5]:
dict(result)

{'Janice': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '21'}

#### 3rd way

In [6]:
result = re.finditer(r'(?P<Name>[A-z]+)\sis\s(?P<age>\d{1,3})', Nameage)
[i.groupdict() for i in result]

[{'Name': 'Janice', 'age': '22'},
 {'Name': 'Theon', 'age': '33'},
 {'Name': 'Gabriel', 'age': '44'},
 {'Name': 'Joey', 'age': '21'}]

#### 2. Create a regex for email verification. All E-mail addresses should include:

     a) 3 to 10 lowercase or uppercase letters, numbers
     b) An @ symbol
     c) 2 to 10 lowercase and uppercase letters, numbers
     d) .
     e) 2 to 4 lowercase and uppercase letters
                  Example: meow@gmail.com is a right mail but, 
                  Hello.com, MrMu@.com are not.

In [79]:
mail = 'meow@gmail.com'
re.findall(r'[A-Za-z0-9]{3,10}@[A-Za-z0-9]{2,10}\.[A-Za-z]{2,4}', mail)

['meow@gmail.com']

In [80]:
mail = 'Hello.com'
re.findall(r'[A-Za-z0-9]{3,10}@[A-Za-z0-9]{2,10}\.[A-Za-z]{2,4}', mail)

[]

In [81]:
mail = 'MrMu@.com'
re.findall(r'[A-Za-z0-9]{3,10}@[A-Za-z0-9]{2,10}\.[A-Za-z]{2,4}', mail)

[]

#### 3. Create a regex for number verification. The order of numberâ€™s structure should be as following:
     1. (
     2. 3 numbers
     3. )
     4. Space
     5. numbers
     6. -
     7. numbers
               Example: (257) 563-7401, (111) 222-3333 are right numbers
                        (1) 19-39, +994 012-13-32 are not right numbers

In [172]:
number = '(257) 563-7401' 
re.findall(r'^\(\d{3}\)\s\d{3}-\d{4}$', number)

['(257) 563-7401']

In [173]:
number = '(111) 222-3333' 
re.findall(r'^\(\d{3}\)\s\d{3}-\d{4}$', number)

['(111) 222-3333']

In [174]:
number = '(1) 19-39' 
re.findall(r'^\(\d{3}\)\s\d{3}-\d{4}$', number)

[]

In [175]:
number = '+994 012-13-32' 
re.findall(r'^\(\d{3}\)\s\d{3}-\d{4}$', number)

[]