In [19]:
import pandas as pd
import numpy as np
data = {"Name": ['Arif', "Kazim", "Susan", "Vadim"], "Score": [1, np.nan, 4, '']}
df_100 = pd.DataFrame(data=data)
df_100

    Name Score
0   Arif     1
1  Kazim   NaN
2  Susan     4
3  Vadim

In [20]:
df_100['Score'] = df_100['Score'].astype(str)
df_100['Score']=df_100['Score'].replace('', pd.NA)
df_100

    Name Score
0   Arif     1
1  Kazim   nan
2  Susan     4
3  Vadim  <NA>

In [21]:
df_100.dropna()

    Name Score
0   Arif     1
1  Kazim   nan
2  Susan     4

In [22]:
df_100['Score'] = df_100['Score'].astype(int)

ValueError: invalid literal for int() with base 10: 'nan'

In [23]:
import pandas as pd
import numpy as np
data = {"Name": ['Arif', "Kazim", "Susan", "Vadim"], "Score": [1, np.nan, 4, '']}
df_100 = pd.DataFrame(data=data)
df_100

    Name Score
0   Arif     1
1  Kazim   NaN
2  Susan     4
3  Vadim

In [24]:
df_100[df_100['Score']=='']

    Name Score
3  Vadim

In [25]:
df_100[df_100['Score']==''].index

Index([3], dtype='int64')

In [26]:
df_100.drop(index=df_100[df_100['Score']==''].index)

    Name Score
0   Arif     1
1  Kazim   NaN
2  Susan     4

In [27]:
df_100.drop(columns=df_100.loc[df_100['Score']=="",['Score']].columns)

    Name
0   Arif
1  Kazim
2  Susan
3  Vadim