In [5]:
class Student:
    name = "Tamerlan"

In [6]:
s1 = Student()
s2 = Student()

In [7]:
s1

In [8]:
s2

In [9]:
class Student:
    vetendasliq = "Az"

In [10]:
s1.hello = "hello"
s1.salam = "salam"
s1.__dict__

{'hello': 'hello', 'salam': 'salam'}

In [11]:
s1.hello

'hello'

In [31]:
class Student:
    vetendasliq = "Az"
    def __init__(self, name, surname):
        self.name = name
        self.surname = surname

In [32]:
s1 = Student("Parviz", "Babayev")
s1.name

'Parviz'

In [33]:
class Student:
    vetendasliq = "Az"
    def __init__(self, name, surname):
        self.ad = name
        self.familiya = surname

In [34]:
s1 = Student("Parviz", "Babayev")
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [35]:
s1.ad

'Parviz'

In [36]:
s1.vetendasliq

'Az'

In [65]:
class Student:
    vetendasliq = "Az"
    def __init__(self, name, surname, year):
        self.name = name
        self.surname = surname
        self.year = year
     
    def get_age(self, now=2023):
        return now - self.year
    
    def get_fullname(self):
        return self.name + ' ' + self.surname

In [66]:
s1 = Student("Parviz", "Babayev", 1987)

In [67]:
s1.get_age()

36

In [68]:
s1.get_fullname()

'Parviz Babayev'

### INHERITANCE

In [171]:
class Human:
    def __init__(self, name, surname, year):
        self.name = name
        self.surname = surname
        self.year = year
        
    from datetime import datetime    
    def get_age(self, now=datetime.now().year):
        return now - self.year
    
    def get_fullname(self):
        return self.name + ' ' + self.surname

In [172]:
class Teacher(Human):
    def __init__(self, name, surname, year, education):
#          Human.__init__(self, name, surname, year)
        super().__init__(name, surname, year)
        self.education = education
    
    def get_education(self):
        return self.education

In [173]:
t1 = Teacher("Pakize", "Hesenova", 1997, "Master")

In [174]:
t1.__dict__

{'name': 'Pakize', 'surname': 'Hesenova', 'year': 1997, 'education': 'Master'}

In [175]:
print(t1.get_age())
print(t1.get_education())

27
Master

In [176]:
class Student(Teacher):
    def __init__(self, name, surname, year, education, score):
        # Human.__init__(self, name, surname, year)
        super().__init__(name, surname, year, education)
        self.score = score

In [177]:
s1 = Student("Bilal", "Novruzlu", 1997, "Master", 99)

In [178]:
s1.get_education()

'Master'

In [179]:
s1

In [180]:
s1.__dict__

{'name': 'Bilal',
 'surname': 'Novruzlu',
 'year': 1997,
 'education': 'Master',
 'score': 99}

### ENCAPSULATION

In [2]:
class Kettle:
    def start(self):
        print(self.__check_temprature())
        print(self._turn_of())
    def __check_temprature(self):
        return "check"
    def _turn_of(self):
        return "turn of"

In [3]:
k1 = Kettle()

In [4]:
k1.start()

check
turn of

In [5]:
k1.__check_temprature()

AttributeError: 'Kettle' object has no attribute '__check_temprature'

In [6]:
k1._turn_of()

'turn of'

In [13]:
Kettle.start(k1)

check
turn of

In [14]:
Kettle._turn_of(k1)

'turn of'

In [15]:
Kettle.__check_temprature()

AttributeError: type object 'Kettle' has no attribute '__check_temprature'

### POLYMORPHIZM

In [22]:
class Teacher:
    def __init__(self, education):
        self.education = education
    
    def get_education(self):
        return f"{self.education} class"
    
class Student(Teacher):
    def __init__(self, education, score):
        super().__init__(education)
        self.score = score
        
    def get_education(self):
        return f"{self.education} doctor"

In [23]:
s1 = Student("Master", 99)

In [24]:
s1.get_education()

'Master doctor'

### ABSTRACTION

In [61]:
from abc import abstractclassmethod, ABC

In [62]:
class Vechile(ABC):
    def __init__(self, speed, year):
        self.speed = speed
        self.year = year
    
    def start(self):
        print('start')
    
    def stop(self):
        print('stop')
    
    @abstractclassmethod
    def drive(self):
        pass
    
class Car(Vehicle):
    def __init__(self, speed, year, lim):
        super().__init__(speed, year)
        self.lim = lim
        
    def drive(self):
        print('drive')

In [63]:
c = Car(5, 30, 1990)

In [64]:
c.drive()

drive

In [103]:
class Test:
    def test():
        return 'test'
Test.test()

'test'

In [104]:
g1 = Test()
g1.test()

TypeError: Test.test() takes 0 positional arguments but 1 was given

In [105]:
class Test:
    def test(self):
        return 'test'

In [106]:
Test.test()

TypeError: Test.test() missing 1 required positional argument: 'self'

In [107]:
t1 = Test()
Test.test(t1)

'test'

In [112]:
class Test:
    
    @classmethod
    def class_method(cls):
        return "class method"
    
Test.class_method()

'class method'

In [113]:
class Test:
    
    @classmethod
    def class_method(cls):
        return cls
    
Test.class_method()

__main__.Test

In [116]:
class Test:
    
    vetendasliq = "Az"
    
    @classmethod
    def class_method(cls):
        return cls.vetendasliq
    
Test.class_method()

'Az'

In [118]:
t1 = Test()

In [119]:
t1.vetendasliq

'Az'

In [120]:
t1. class_method()

'Az'

### Practice

In [133]:
class Student:
    vetendasliq = "Az"
    def __init__(self, name, surname, year):
        self.name = name
        self.surname = surname
        self.year = year
     
    def get_age(self, age, now=2023):
        return now - self.year + age
    
    def get_fullname(self):
        return self.name + ' ' + self.surname

In [134]:
s1 = Student("Parviz", "Ahmadov", 2000)

In [136]:
s1.get_age(2)

25

In [177]:
class Student:
    vetendasliq = "Az"
    def __init__(self, name, surname, year):
        self.name = name
        self.surname = surname
        self.year = year
     
    def get_age(self, age):
        self.yas = age
        pass
     
    
    def get_fullname(self):
        return self.name + ' ' + self.surname

In [178]:
s2 = Student("Parviz", "Ahmadov", 2000)

In [179]:
s2.get_age(21)

In [180]:
s2.yas

21

In [181]:
s2.__dict__

{'name': 'Parviz', 'surname': 'Ahmadov', 'year': 2000, 'yas': 21}

In [182]:
class Student:
    vetendasliq = "Az"
     
    def get_age(self, name, surname, year, age):
        self.name = name
        self.surname = surname
        self.year = year
        self.yas = age
        pass
     
    
    def get_fullname(self):
        return self.name + ' ' + self.surname

In [183]:
s3 = Student()

In [184]:
s3.get_age("Parviz", "Ahmadov", 2000, 25)

In [186]:
s3.__dict__

{'name': 'Parviz', 'surname': 'Ahmadov', 'year': 2000, 'yas': 25}

In [187]:
s3.get_fullname()

'Parviz Ahmadov'

### manual object creat

In [190]:
d = {}
d["Name"] = "Tamerlan"
d["Age"] = "20"
d

{'Name': 'Tamerlan', 'Age': '20'}

In [192]:
d = {}
d["Name"] = "Parviz"
d["Age"] = "22"
d

{'Name': 'Parviz', 'Age': '22'}

In [212]:
class Human:
    def __init__(self, name, surname, year):
        self.name = name
        self.surname = surname
        self.year = year
        
    from datetime import datetime    
    def get_age(self, now=datetime.now().year):
        return now - self.year
    
    def get_fullname(self):
        return self.name + ' ' + self.surname
    
class Teacher(Human):
    def __init__(self, name, surname, year, education):
        super().__init__(name, surname, year)
        super().get_age
        self.education = education
    
    def get_education(self):
        return self.education

In [213]:
s4 = Teacher("Parviz", "Ahmadov", 2000, "Master")

In [214]:
s4.get_age()

24

In [235]:
class Human:
    def __init__(self, name, surname, year):
        self._name = name
        self.__surname = surname
        self.year = year
        
    from datetime import datetime    
    def get_age(self, now=datetime.now().year):
        return now - self.year
    
    def get_fullname(self):
        return self.name + ' ' + self.surname
    
class Teacher(Human):
    def __init__(self, name, surname, year, education):
        super().__init__(name, surname, year)
        super().get_age
        self.education = education
    
    def get_education(self):
        return self.education

In [236]:
s5 = Teacher("Parviz", "Ahmadov", 2000, "Master")

In [237]:
s5._name

'Parviz'

In [238]:
s5.__surname

AttributeError: 'Teacher' object has no attribute '__surname'

In [245]:
class Test:
    
    vetendasliq = "Az"
    
    @classmethod
    def class_method(cls):
        return cls.vetendasliq
    
Test.class_method()

'Az'

In [254]:
class Test:
    
    vetendasliq = "Az"
    
    @staticmethod
    def static_method():
        return 5
    
Test.static_method()

5

In [255]:
t5 = Test()

In [256]:
t5.static_method()

5

In [351]:
class Ucbucaq:
    
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def get_sahe(self):
        return self.a * self.b * self.c
    
class Duzbucaqli(Ucbucaq):
    
    def __init__(self, a, b):
        super().__init__(a, b, 0)
    
    def get_sahe(self):
        return self.a * self.b

class Kvadrat(Duzbucaqli):
    
    def __init__(self, a):
        super().__init__(a, 0)
    
    def get_sahe(self):
        return self.a ** 2

In [352]:
Duz = Duzbucaqli(2, 3)

In [353]:
Duz.get_sahe()

6

In [354]:
uc = Ucbucaq(4,2,3)

In [355]:
uc.get_sahe()

24

In [356]:
kv = Kvadrat(8)

In [357]:
kv.get_sahe()

64

In [362]:
class Ucbucaq:
    
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def get_sahe(self):
        # Assuming this is intended to be the area of a triangle using Heron's formula
        s = (self.a + self.b + self.c) / 2
        return (s * (s - self.a) * (s - self.b) * (s - self.c)) ** 0.5
    
class Duzbucaqli(Ucbucaq):
    
    def __init__(self, a, b):
        super().__init__(a, b, 0)  # 'c' is not needed for rectangle, so set it to 0
    
    def get_sahe(self):
        return self.a * self.b

class Kvadrat(Duzbucaqli):
    
    def __init__(self, a):
        super().__init__(a, 0)  # For square, both sides are the same
    
    def get_sahe(self):
        return self.a ** 2

# Example usage
kv = Kvadrat(8)
print(kv.get_sahe())  # Output: 64


uc = Ucbucaq(4,2,3)
print(uc.get_sahe())

duz = Duzbucaqli(8, 2)
print(duz.get_sahe())

64
2.9047375096555625
16

In [392]:
class Kvadrat:
    def __init__(self, a):
        self.a = a
        
    def get_area(self):
        return self.a ** 2

class Duzbucaqli(Kvadrat):
    def __init__(self, a, b):
        super().__init__(a)
        self.b = b
    
    def get_area(self):
        return self.a * self.b

class Ucbucaqli(Duzbucaqli):
    def __init__(self, a, b, c):
        super().__init__(a, b)
        self.c = c
        
    def get_area(self):
        s = (self.a + self.b + self.c) / 2
        return (s * (s - self.a) * (s - self.b) * (s - self.c)) ** 0.5

In [397]:
k1 = Kvadrat(5)
d1 = Duzbucaqli(5, 4)
u1 = Ucbucaqli(6, 7, 8)
print(f"kavdratin sahesi: {k1.get_area()}, duzbucaqlinin sahesi: {d1.get_area()}, ucbucagin sahesi: {u1.get_area()}")

kavdratin sahesi: 25, duzbucaqlinin sahesi: 20, ucbucagin sahesi: 20.33316256758894